body {
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color: white;
    border: 4px solid pink;
}

div {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    background-color: white;

}

h1 {
    margin: auto;
        width: 50%;
        padding: 10px;
        text-align: center;
        background-color: white;
}

table {
    margin: 50;
            width: 50%;
            padding: 10px;
            text-align: center;
}